.header {
    color: #770000;
    align-self: center;
    font-family: 'Luckiest Guy', fantasy;
    margin: 0px;
    padding: 0px;
}

.links{
    align-items: center;
    text-align: center;
    text-decoration-line: none;
    font-family: 'Baby Doll';
    font-size: 30px;
    color: #770000;
    max-width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    border-style: none none solid none;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.icons{
    width: 5%;
    height: 5%;
}

.illustration{
    width: 750px;
    height: 125px;
    max-width: 80%;
}

a{
    color: inherit;
    text-decoration-line: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

body{
    background-color: #bffcff
}

html{
    font: fantasy;
    text-align: center;
}

h1{
    font-size: 90px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('fonts/luckiest-guy/luckiestguy-regular-webfont.woff2') format('woff2'),
         url('fonts/luckiest-guy/luckiestguy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Baby Doll';
    src: url('fonts/baby-doll/baby_doll-webfont.woff2') format('woff2'),
         url('fonts/baby-doll/baby_doll-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}