.header {
    color: #770000;
    align-self: center;
    font-family: 'Luckiest Guy', fantasy;
    margin: 0px;
    padding: 0px;
    max-height: 10% !important;
}

.links{
    align-items: center;
    text-align: center;
    text-decoration-line: none;
    font-family: 'Baby Doll';
    font-size: max(30px, 20%);
    color: #770000;
    max-width: 55%;
    max-height: 20% !important;
    margin-left: 22.5%;
    margin-right: 22.5%;
    border-style: none none solid none;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.icons{
    width: 5%;
    height: 5%;
}

.icons-mini{
    width: 2%;
    height: 2%;
}

.illustration{
    width: 750px;
    height: 17%;
    max-width: 80%;
    max-height: 20% !important;
}
.animation{
    width: 750px;
    height: 17%;
    max-width: 80%;
    max-height: 20% !important;
}

.floating-islands{
    min-height: 20%;
    min-width: 29%;
    max-height: 30%;
    max-width: 44%;
    margin: 0%;
    padding: .5%;
}

.creature-at-night{
    min-height: 20%;
    min-width: 29%;
    max-height: 30%;
    max-width: 44%;
    margin: 0;
    padding: 0.5%;
}

.asteri-finale{
    min-height: 20%;
    max-height: 30%;
    min-width: 36%;
    max-width: 53%;
    margin: 0;
    padding: 0.5%;
}

.asteri-model{
    min-height: 20%;
    max-height: 30%;
    min-width: 33%;
    max-width: 49%;
    margin: 0;
    padding: .5%;
}

.winter-scene{
    min-height: 20%;
    max-height: 30%;
    min-width: 29%;
    max-width: 44%;
    margin: 0;
    padding: .5%;
}

.caption{
    font-family: 'Baby Doll';
    font-size: 250%;
    padding-top: 0;
    margin-top: 0;
}

ul{
    list-style-type: none;
}

p{
    font-family: 'Baby Doll';
    color: #770000;
}

a{
    color: inherit;
    text-decoration-line: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

body{
    background-color: #bffcff
}

html{
    font: fantasy;
    text-align: center;
}

h1{
    font-size: 90px;
    line-height: 0px;
    max-height: 20% !important;
    padding: 0px;
    margin: 0px;
}

video::-webkit-media-controls {
    display:none !important;
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('fonts/luckiest-guy/luckiestguy-regular-webfont.woff2') format('woff2'),
         url('fonts/luckiest-guy/luckiestguy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Baby Doll';
    src: url('fonts/baby-doll/baby_doll-webfont.woff2') format('woff2'),
         url('fonts/baby-doll/baby_doll-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}